  <thead>
    <table id="hnmain" border="0" cellpadding="0" align="center" cellspacing="0" width="85%" bgcolor="#f6f6ef"> 
    <tr>
      <td bgcolor="#ff6600">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" >
          <tbody>
            <tr>
              <td style="width:18px;padding-right:4px">
                <a href=http://www.ycombinator.com/>
                  <img src="https://news.ycombinator.com/y18.gif" width="18" height="18" style="border:1px white solid;">
                </a>
              </td>
              <td style="line-height:12pt; height:10px;">
                <span class="pagetop">
                  <b class="hnname"><%= link_to 'Hacker News', contributions_url %></b>
                </span>
                <span class="pagetop"><%= link_to 'newest', contributions_url(:sort => "date")%></span>
                <% if current_user %>
                  | <span class="pagetop"><a href="/users/<%= current_user.id %>/comments">threads</a></span>
                <% end %>
                | <span class="pagetop"><%= link_to 'ask', contributions_url(:type => "text")%></span> 
                | <% if current_user %>
                    <span class="pagetop"><%= link_to 'submit', contributions_new_url %></span>
                  <% else %>
                    <span class="pagetop"><%= link_to 'submit', "/auth/google_oauth2", id: "sign_in" %></span>
                  <% end %>
              </td>
              <td style="text-align:right;padding-right:4px;">
                <% if current_user %>
                  <span class="pagetop"><strong><a href="../users/<%= current_user.id%>"><%= current_user.name %></a></strong></span> 
                  | <span class="pagetop"><%= link_to "signout", signout_path, id: "sign_out" %> </span>
                <% else %>
                  <span class="pagetop">
                    <%= link_to "login", "/auth/google_oauth2", id: "sign_in" %>
                  </span>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr style="height:10px"></tr>
    </table>
  </thead>
  <tbody>
      <form method="post" action="/users/<%= @user.id %>">
          <table border="0" cellpadding="0" align="center" cellspacing="0" width="85%" bgcolor="#f6f6ef">
              <tr>
                  <td class="label">user:</td>
                  <td style="color: #3C963C;"><%= @user.name %></td>
              </tr>
              <tr>
                  <td class="label">created:</td>
                  <td class="value">
                    <span>
                      <% if ((Time.now - @user.created_at) / 1.year).round >= 1 %>
                        <%= ((Time.now - @user.created_at) / 1.year).round  %>  years ago
                      <% else %>
                        <% if ((Time.now - @user.created_at) / 1.month).round >= 1 %>
                          <%= ((Time.now - @user.created_at) / 1.month).round %> months ago
                        <% else %>
                          <% if ((Time.now - @user.created_at) / 1.week).round >= 1 %>
                            <%= ((Time.now - @user.created_at) / 1.week).round %> weeks ago 
                          <% else %>
                            <% if ((Time.now - @user.created_at) / 1.day).round >= 1 %>
                              <%= ((Time.now - @user.created_at) / 1.day).round %>  days ago
                          <% else %>
                            <% if ((Time.now - @user.created_at) / 1.hour).round >= 1 %>
                              <%= ((Time.now - @user.created_at) / 1.hour).round %> hours ago
                            <% else %>
                              <% if ((Time.now - @user.created_at) / 1.minute).round >= 1 %>
                                <%= ((Time.now - @user.created_at) / 1.minute).round %> minutes ago
                              <% else %>
                            <%= ((Time.now - user.created_at) / 1.second).round %> seconds ago 
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </span>
                  </td>
              </tr>
              <tr>
                  <td class="label" style="vertical-align: top;">about:</td>
                  <% if current_user && current_user.id==@user.id %>
                  <td class="value"><textarea rows="5" cols="60" wrap="virtual" name="user[about]" ><%= current_user.about %></textarea></td>
                  <% else %>
                  <td class="value"><%= @user.about %></td>
                  <% end %>
              </tr>
              <tr>
                  <td></td>
                  <td class="link">
                    <a href="/contributions?user=<%= @user.id %>">
                      <span class="link">stories</span>
                    </a>
                  </td>
              </tr>
              <tr>
                  <td></td>
                  <td class="link">
                    <a href="/users/<%= @user.id %>/comments">
                      <span class="link">comments</span>
                    </a>
                  </td>
              </tr>
              <tr style="height:10px;"></tr>
              <% if current_user && current_user.id==@user.id %>
              <tr>
                  <td class="label"><input type="submit" value="update"></input></td>
                  <td></td>
              </tr>
              <% end %>
              <tr style="height:10px;"></tr>
          </table>
      </form>
  </tbody>