<p id="notice"><%= notice %></p>

<h1>Puntuations</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Contribution</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @puntuations.each do |puntuation| %>
      <tr>
        <td><%= puntuation.user_id %></td>
        <td><%= puntuation.contribution_id %></td>
        <td><%= link_to 'Show', puntuation %></td>
        <td><%= link_to 'Edit', edit_puntuation_path(puntuation) %></td>
        <td><%= link_to 'Destroy', puntuation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Puntuation', new_puntuation_path %>
