<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @contribution.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @contribution.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @contribution.user %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @contribution.created_at %>
</p>

<%= link_to 'Edit', edit_contribution_path(@contribution) %> |
<%= link_to 'Back', contributions_path %>
