<%= form_for(reply_puntuation) do |f| %>
  <% if reply_puntuation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reply_puntuation.errors.count, "error") %> prohibited this reply_puntuation from being saved:</h2>

      <ul>
      <% reply_puntuation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :reply_id %>
    <%= f.text_field :reply_id %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
